/* This is a CSS style sheet for rules that should be applied over the
   entire application.  We are not using the name prefix for these rules.  */

/* class="container" - Sets some margins around the element so it is spaced
                       from the top, bottom, and sides of the window. */

.container {
  padding: 40px 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.toggle-button {
  display: block;
  margin: 10px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #0056b3;
}
